body{
    margin: 0px;
    height: 100dvh;
    background-image: url(img/hata.jpg);
    background-repeat: repeat;
    background-size: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18%;
    color: white;
    text-shadow: 0px 0px 10px black;
    background: transparent;
    backdrop-filter: blur(2px);
    
}

header h1{
    font-size: 3em;
    margin: 10px;
}

.egesz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 55%;
    background-color: rgba(184, 184, 184, 0.836);
    border-radius: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.61);
}

footer{
    margin-top: 50px;
    display: flex;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.74));
    color: white;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.iras {
 display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fa {
   font-family: 'Lato', 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
  

}