body{
    margin: 0px;
    height: 100dvh;
    background-image: url(img/pexels-pixabay-235985.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%px;
    color: white;
    text-shadow: 0px 0px 10px black;
    
}

header h1{
    font-size: 3em;
    margin: 10px;
}

.egesz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
    background-color: rgba(163, 163, 163, 0.836);
    border-radius: 40px;
    box-shadow: 10px 10px 20px black;
}